//---------------VARIABLES-------------------------------//
//COLORS
$background: #f6f7f9;
$orange: #f05245;
$primary-blue: #1372ec;
$nav: #333357;
$form-stroke: #e5e8e8;
$form-green: #2ba488;
$form-red: #ff8177;
$grey: #626971;
$dark-grey: #282829;
$text-success: #0f7173;

//FONT-WEIGHT
$thin: 100;
$light: 300;
$regular: 400;
$bold: 600;

//---------------BASE------------------------------------//
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  font-size: 62.5%;
}

h1 {
  font-size: 6.4rem;
  font-weight: $light;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
  font-weight: $light;
  margin: 2rem 0;
}

h3 {
  font-size: 2.4rem;
  font-weight: $light;
  margin: 1rem 0;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: $regular;
}

body {
  padding: 0;
  margin: 0;
  background: $background;
  width: 100%;
}

nav {
  display: block;
  width: 100%;
  height: 68px;
  background-color: $nav;
  padding: 1.6rem 0rem;
  margin: 0;
}
.logo {
  width: 70%;
  margin: 0 0 6rem 10rem;
}

footer {
  display: block;
  width: 100%;
  height: 6.3rem;
  background-color: white;
  padding: 1.6rem;
  margin: 0;
  text-align: center;
  color: $dark-grey;
  font-size: 1.4rem;
}

main {
  margin: 4.6rem 0rem;
  overflow-x: hidden;
  background: top right url("/images/Ellipse1.svg") no-repeat;
}

button {
  width: 276.26px;
  min-height: 58px;
  margin: 1.6rem 0;
  padding: 1.3rem;
  border-radius: 8px;
  border: none;
  background-color: $primary-blue;
  opacity: 20%;
  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

//------------------------RELEVANCE SECTION-------------------------//

.relevance {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 500px;
  //------------------------First section-------------------------//
  .first-section {
    width: 50%;
    margin: 0 7rem 0 10rem;

    .par {
      padding: 5.1rem 0 0 0;
      margin: 0;
      max-width: 592px;
    }
  }

  .infos {
    width: 100%;
    margin: 0 10rem;

    .event {
      font-size: 1.6rem;
      font-weight: 700;
      color: $orange;
    }

    .date {
      font-size: 1.6rem;

      .fa-calendar-alt {
        margin-right: 0.9rem;
        font-size: 1.4rem;
      }
    }
  }
  //-------------------Second section (form and success message) ----------//
  .second-section {
    width: 30%;

    form {
      display: flex;
      flex-direction: column;
      margin: 0;
      width: 344px;
      min-height: 417px;
      max-height: 468px;
      background: white;
      border: solid $form-stroke 1px;
      border-radius: 8px;
      padding: 2rem 3.5rem;
      box-shadow: 3px 3px 16px 0 $form-stroke;
      -moz-box-shadow: 3px 3px 16px 0 $form-stroke;

      input {
        width: 276.26px;
        min-height: 58px;
        margin: 1rem 0;
        padding: 1.3rem;
        border-radius: 8px;
        border: 1px solid $background;
        background-color: white;
        color: $dark-grey;
        font-size: 1.6rem;
        font-weight: $regular;
        ::placeholder {
          color: $grey;
          font-weight: $thin;
        }
        &:-webkit-autofill {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: $dark-grey;
        }
      }

      input:focus,
      :valid {
        outline: none;
      }
      .error {
        width: 276.26px;
        padding: 1.3rem 1.29rem;
        border-radius: 8px;
        border: none;
        background-color: $form-red;
        font-size: 1.4rem;
        color: black;
        margin-top: 1rem;
      }
    }
    .hidden {
      display: none;
      visibility: hidden;
    }
    .success {
      margin: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 344px;
      border-radius: 8px;
      height: 208px;
      box-shadow: 3px 3px 16px 0 $form-stroke;
      -moz-box-shadow: 3px 3px 16px 0 $form-stroke;
      background: white;
      color: $text-success;
      .fa-check-circle {
        color: $form-green;
        font-size: 6rem;
      }
    }
    .invalid {
      background-color: white;
      border: 1px solid $form-red;
    }

    .ready {
      opacity: 100%;
    }
  }
}

//---------------THIRD SECTION (speakers)------------------------------------//

.third-section {
  display: block;
  width: 85%;
  margin: 0 0 0 10rem;

  .speakers {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 713px;
    flex-direction: row;
    justify-content: flex-start;

    .speaker-wrap {
      z-index: 1;
      height: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 2.25rem 5.4rem;
      max-width: 128px;

      .informations {
        bottom: 125px;
        left: -108px;
        font-weight: $regular;

        .name {
          margin: 0;
        }
        .title {
          color: $grey;
          font-size: 1.4rem;
          margin: 0;
        }
        .avatar {
          border-radius: 50%;
          box-shadow: 3px -3px 0 $orange;
        }
      }
    }
  }
}

//-------------FOURTH SECTION (Other events)---------------------//
.fourth-section {
  margin: 3rem 10rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .card {
      margin: 3rem 2.2rem 0 2.2rem;
      width: 267px;
      max-height: 350px;
      border: solid $form-stroke 1px;
      border-radius: 8px;
      background-color: white;
      box-shadow: 3px 3px 16px 0 $form-stroke;
      -moz-box-shadow: 3px 3px 16px 0 $form-stroke;
      cursor: pointer;
      transition: margin-top ease 0.5s;

      .img-container {
        max-width: 267px;
        height: 165px;
        .card-img-top {
          min-width: 100%;
          max-width: 100%;
          height: 165px;
          border-radius: 8px 8px 0 0;
        }
      }

      .card-body {
        padding: 1rem 2rem;
        max-height: 172px;
        .card-title {
          font-size: 1.8rem;
          font-weight: $light;
          margin: 0 0 1.6rem 0;
        }

        .card-text {
          font-size: 1.6rem;
          font-weight: $regular;
          line-height: 2rem;
        }
      }
    }
    .card:hover {
      margin-top: 0;
    }
  }
}

//------MEDIA QUERIES -----------------------//

@media screen and (max-width: 1200px) {
  main {
    background: 130% 0 url("/images/Ellipse1.svg") no-repeat;
  }

  .relevance {
    height: 580px;
    .first-section {
      .par {
        max-width: 480px;
        padding: 1rem 0 0 0;
      }
    }
  }

  .third-section {
    display: flex;
    flex-direction: column;
    .speakers {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.4rem;
  }

  p {
    font-size: 1.8rem;
  }

  .logo {
    margin: 0 0 6rem 6.7rem;
  }

  .relevance {
    width: 85%;
    .first-section {
      margin: 3rem 4rem 0 6.7rem;
      .par {
        max-width: 45rem;
      }
    }
    .infos {
      margin: 0 6.7rem;
    }
  }

  .third-section {
    margin: 0 0 0 6.7rem;
    .speakers {
      .speaker-wrap {
        margin: 2.25rem 4rem;
      }
    }
  }

  .fourth-section {
    margin: 3rem 6.7rem;
    .card {
      margin: 1rem 0.8rem;
    }
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.8rem;
  }
  main {
    background: 330px 335px url("/images/Ellipse1.svg") no-repeat;
  }

  .relevance {
    margin: 0 6.7rem;
    height: 100%;

    .first-section {
      width: 90%;
      margin: 0 0 3rem 0;
      justify-content: center;
      align-items: center;
      .par {
        margin-bottom: 3rem;
        max-width: 78%;
      }
    }
    .infos {
      margin: 0;
      width: 90%;
    }
    .second-section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
    }
  }

  .third-section {
    margin: 3rem 6.7rem;
    .speakers {
      .speaker-wrap {
        margin: 2.25rem 2rem;
      }
    }
  }

  .fourth-section {
    margin: 3rem 6.7rem;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.7rem;
  }
  main {
    background: 280px 330px url("/images/Ellipse1.svg") no-repeat;
  }
  .logo {
    margin: 0 0 6rem 4.96rem;
  }
  .relevance {
    margin: 0 auto;
    height: 100%;
    .first-section {
      width: 90%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      .par {
        margin-bottom: 3rem;
        max-width: 100%;
      }
    }
    .infos {
      margin: 0 auto;
      width: 90%;
    }
    .second-section {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .third-section {
    width: 76.5%;
    margin: 4rem auto 0 auto;
    .speakers {
      justify-content: center;
      .speaker-wrap {
        margin: 2.25rem 1rem;
      }
    }
  }
  .fourth-section {
    width: 76.5%;
    margin: 0 auto;
    .cards {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  main {
    background: none;
  }
}
