* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  font-size: 62.5%;
}

h1 {
  font-size: 6.4rem;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 3.2rem;
  font-weight: 300;
  margin: 2rem 0;
}

h3 {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 1rem 0;
}

p {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  background: #f6f7f9;
  width: 100%;
}

nav {
  display: block;
  width: 100%;
  height: 68px;
  background-color: #333357;
  padding: 1.6rem 0rem;
  margin: 0;
}

.logo {
  width: 70%;
  margin: 0 0 6rem 10rem;
}

footer {
  display: block;
  width: 100%;
  height: 6.3rem;
  background-color: white;
  padding: 1.6rem;
  margin: 0;
  text-align: center;
  color: #282829;
  font-size: 1.4rem;
}

main {
  margin: 4.6rem 0rem;
  overflow-x: hidden;
  background: top right url("/images/Ellipse1.svg") no-repeat;
}

button {
  width: 276.26px;
  min-height: 58px;
  margin: 1.6rem 0;
  padding: 1.3rem;
  border-radius: 8px;
  border: none;
  background-color: #1372ec;
  opacity: 20%;
  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
}

.relevance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 500px;
}

.relevance .first-section {
  width: 50%;
  margin: 0 7rem 0 10rem;
}

.relevance .first-section .par {
  padding: 5.1rem 0 0 0;
  margin: 0;
  max-width: 592px;
}

.relevance .infos {
  width: 100%;
  margin: 0 10rem;
}

.relevance .infos .event {
  font-size: 1.6rem;
  font-weight: 700;
  color: #f05245;
}

.relevance .infos .date {
  font-size: 1.6rem;
}

.relevance .infos .date .fa-calendar-alt {
  margin-right: 0.9rem;
  font-size: 1.4rem;
}

.relevance .second-section {
  width: 30%;
}

.relevance .second-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 344px;
  min-height: 417px;
  max-height: 468px;
  background: white;
  border: solid #e5e8e8 1px;
  border-radius: 8px;
  padding: 2rem 3.5rem;
  -webkit-box-shadow: 3px 3px 16px 0 #e5e8e8;
          box-shadow: 3px 3px 16px 0 #e5e8e8;
  -moz-box-shadow: 3px 3px 16px 0 #e5e8e8;
}

.relevance .second-section form input {
  width: 276.26px;
  min-height: 58px;
  margin: 1rem 0;
  padding: 1.3rem;
  border-radius: 8px;
  border: 1px solid #f6f7f9;
  background-color: white;
  color: #282829;
  font-size: 1.6rem;
  font-weight: 400;
}

.relevance .second-section form input ::-webkit-input-placeholder {
  color: #626971;
  font-weight: 100;
}

.relevance .second-section form input :-ms-input-placeholder {
  color: #626971;
  font-weight: 100;
}

.relevance .second-section form input ::-ms-input-placeholder {
  color: #626971;
  font-weight: 100;
}

.relevance .second-section form input ::placeholder {
  color: #626971;
  font-weight: 100;
}

.relevance .second-section form input:-webkit-autofill {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #282829;
}

.relevance .second-section form input:focus,
.relevance .second-section form :valid {
  outline: none;
}

.relevance .second-section form .error {
  width: 276.26px;
  padding: 1.3rem 1.29rem;
  border-radius: 8px;
  border: none;
  background-color: #ff8177;
  font-size: 1.4rem;
  color: black;
  margin-top: 1rem;
}

.relevance .second-section .hidden {
  display: none;
  visibility: hidden;
}

.relevance .second-section .success {
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 344px;
  border-radius: 8px;
  height: 208px;
  -webkit-box-shadow: 3px 3px 16px 0 #e5e8e8;
          box-shadow: 3px 3px 16px 0 #e5e8e8;
  -moz-box-shadow: 3px 3px 16px 0 #e5e8e8;
  background: white;
  color: #0f7173;
}

.relevance .second-section .success .fa-check-circle {
  color: #2ba488;
  font-size: 6rem;
}

.relevance .second-section .invalid {
  background-color: white;
  border: 1px solid #ff8177;
}

.relevance .second-section .ready {
  opacity: 100%;
}

.third-section {
  display: block;
  width: 85%;
  margin: 0 0 0 10rem;
}

.third-section .speakers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  max-width: 713px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.third-section .speakers .speaker-wrap {
  z-index: 1;
  height: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.25rem 5.4rem;
  max-width: 128px;
}

.third-section .speakers .speaker-wrap .informations {
  bottom: 125px;
  left: -108px;
  font-weight: 400;
}

.third-section .speakers .speaker-wrap .informations .name {
  margin: 0;
}

.third-section .speakers .speaker-wrap .informations .title {
  color: #626971;
  font-size: 1.4rem;
  margin: 0;
}

.third-section .speakers .speaker-wrap .informations .avatar {
  border-radius: 50%;
  -webkit-box-shadow: 3px -3px 0 #f05245;
          box-shadow: 3px -3px 0 #f05245;
}

.fourth-section {
  margin: 3rem 10rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.fourth-section .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fourth-section .cards .card {
  margin: 3rem 2.2rem 0 2.2rem;
  width: 267px;
  max-height: 350px;
  border: solid #e5e8e8 1px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 3px 3px 16px 0 #e5e8e8;
          box-shadow: 3px 3px 16px 0 #e5e8e8;
  -moz-box-shadow: 3px 3px 16px 0 #e5e8e8;
  cursor: pointer;
  -webkit-transition: margin-top ease 0.5s;
  transition: margin-top ease 0.5s;
}

.fourth-section .cards .card .img-container {
  max-width: 267px;
  height: 165px;
}

.fourth-section .cards .card .img-container .card-img-top {
  min-width: 100%;
  max-width: 100%;
  height: 165px;
  border-radius: 8px 8px 0 0;
}

.fourth-section .cards .card .card-body {
  padding: 1rem 2rem;
  max-height: 172px;
}

.fourth-section .cards .card .card-body .card-title {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0 0 1.6rem 0;
}

.fourth-section .cards .card .card-body .card-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
}

.fourth-section .cards .card:hover {
  margin-top: 0;
}

@media screen and (max-width: 1200px) {
  main {
    background: 130% 0 url("/images/Ellipse1.svg") no-repeat;
  }
  .relevance {
    height: 580px;
  }
  .relevance .first-section .par {
    max-width: 480px;
    padding: 1rem 0 0 0;
  }
  .third-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third-section .speakers {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.8rem;
  }
  .logo {
    margin: 0 0 6rem 6.7rem;
  }
  .relevance {
    width: 85%;
  }
  .relevance .first-section {
    margin: 3rem 4rem 0 6.7rem;
  }
  .relevance .first-section .par {
    max-width: 45rem;
  }
  .relevance .infos {
    margin: 0 6.7rem;
  }
  .third-section {
    margin: 0 0 0 6.7rem;
  }
  .third-section .speakers .speaker-wrap {
    margin: 2.25rem 4rem;
  }
  .fourth-section {
    margin: 3rem 6.7rem;
  }
  .fourth-section .card {
    margin: 1rem 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.8rem;
  }
  main {
    background: 330px 335px url("/images/Ellipse1.svg") no-repeat;
  }
  .relevance {
    margin: 0 6.7rem;
    height: 100%;
  }
  .relevance .first-section {
    width: 90%;
    margin: 0 0 3rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .relevance .first-section .par {
    margin-bottom: 3rem;
    max-width: 78%;
  }
  .relevance .infos {
    margin: 0;
    width: 90%;
  }
  .relevance .second-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
  .third-section {
    margin: 3rem 6.7rem;
  }
  .third-section .speakers .speaker-wrap {
    margin: 2.25rem 2rem;
  }
  .fourth-section {
    margin: 3rem 6.7rem;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.7rem;
  }
  main {
    background: 280px 330px url("/images/Ellipse1.svg") no-repeat;
  }
  .logo {
    margin: 0 0 6rem 4.96rem;
  }
  .relevance {
    margin: 0 auto;
    height: 100%;
  }
  .relevance .first-section {
    width: 90%;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .relevance .first-section .par {
    margin-bottom: 3rem;
    max-width: 100%;
  }
  .relevance .infos {
    margin: 0 auto;
    width: 90%;
  }
  .relevance .second-section {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .third-section {
    width: 76.5%;
    margin: 4rem auto 0 auto;
  }
  .third-section .speakers {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .third-section .speakers .speaker-wrap {
    margin: 2.25rem 1rem;
  }
  .fourth-section {
    width: 76.5%;
    margin: 0 auto;
  }
  .fourth-section .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.3rem;
  }
  main {
    background: none;
  }
}
/*# sourceMappingURL=index.css.map */